:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  min-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.new {
  padding: 20px;
  border: 1px solid #fff;
}
.new-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.new-title {
  margin: 0;
  font-weight: bold;
  font-size: 20px;
}
.new-button {
  font-size: 14px;
  cursor: pointer;
}
.new-label {
  font-size: 16px;
}
.new-input {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.lane {
  display: flex;
  min-height: 300px;
  border: 1px solid #fff;
  margin-top: 20px;
}
.lane-item {
  flex: 1 1 0px;
  min-width: 0;
}
.lane > .lane-item:not(:first-child) {
  border-left: 1px solid #fff;
}
.lane-item-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.lane-status {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 5px;
  border-bottom: 1px solid #fff;
}
.lane-status-name {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
}
.lane-status-delete {
  margin-left: auto;
  font-size: 10px;
  cursor: pointer;
}

.tasks {
  flex: 1 1 0px;
  margin: 0;
  padding: 10px;
  list-style: none;
}
.tasks > *:not(:first-child) {
  margin-top: 10px;
}
.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #000;
  background-color: #fff;
  box-sizing: border-box;
  cursor: grab;
}
.task-item::before {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border-radius: 2px;
  background-color: #aaa;
  content: "";
}
.task-item > span {
  overflow: hidden;
  display: table-cell;
  max-width: 193px;
  word-wrap: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #033a03;
}
.task-item > button {
  width: 40px;
  margin-left: auto;
  font-size: 12px;
  cursor: pointer;
}

.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
